<h2>All</h2>

<% for (var i=0; i<polls.length; i++) { 
    if( polls[i].title == ''){
      polls[i].title = 'Untitled';
    }

%>
  <h3><a href="/poll/<%= polls[i].id %>"><%= polls[i].title %></a></h3>
<% } %>


