<h1>Create a poll</h1>
<br />
<div class="col-md-8 col-md-offset-2">
  <form class="row" action="/createnew" method="post" role="form">
    <div class="form-group">
      <label for="question">Question</label>
      <textarea id="question" 
                class="form-control" 
                autocomplete="off" 
                placeholder="How many pecks of pickled peppers did Peter Piper pick?" 
                maxlength="150" 
                rows="3" 
                name="question"></textarea>
    </div>
    <div class="form-group">
      <label for="options">Options</label>
      <input id="options0" 
             class="form-control first-input"
             type="text" 
             placeholder="One" 
             autocomplete="off"
             maxlength="100"
             name="options"
             data-signals-once="true"
             data-signals-name="create-unhide-next-input" />
      <input id="options1" 
             class="form-control first-input" 
             type="text" 
             placeholder="Two" 
             autocomplete="off"
             maxlength="100"
             name="options"
             data-signals-once="true"
             data-signals-name="create-unhide-next-input" />
      <input id="options2" 
             class="form-control hidden-input" 
             type="text" 
             placeholder="Way too many to count" 
             autocomplete="off"
             maxlength="100"
             name="options"
             data-signals-once="true"
             data-signals-name="create-unhide-next-input" />
      <input id="options3" 
             class="form-control hidden-input" 
             type="text" 
             placeholder="All of them"
             autocomplete="off"
             maxlength="100"
             name="options"
             data-signals-once="true"
             data-signals-name="create-unhide-next-input" />
      <input id="options4" 
             class="form-control hidden-input" 
             type="text" 
             placeholder="The rest" 
             autocomplete="off"
             maxlength="100"
             name="options"
             data-signals-once="true"
             data-signals-name="create-unhide-next-input" />
      <input id="options5" 
             class="form-control hidden-input" 
             type="text" 
             placeholder="OMG" 
             autocomplete="off"
             maxlength="100"
             name="options"
             data-signals-once="true"
             data-signals-name="create-unhide-next-input" />
      <input id="options6" 
             class="form-control hidden-input" 
             type="text" 
             placeholder="Infinity" 
             autocomplete="off"
             maxlength="100"
             name="options"
             data-signals-once="true"
             data-signals-name="create-unhide-next-input" />
    </div>

    <button class="btn btn-default btn-lg pull-right btn-success" type="submit">
      <span class="glyphicon glyphicon-saved"></span>
      Create and Vote
    </button>
  </form>
