<h1>Express Polls <small>Quick Realtime Polls</small></h1>

<p class="lead">
  No Account Needed. Start creating and voting on polls right now
</p>

<br />

<h2>What is this site used for?</h2>
<div id="placeholder" style="width: 100%; height: 363px;"></div>
<h3>100 Votes</h3>
<div id="spacer" style="width: 100%; height: 50px;"></div>

<a type="button" class="btn btn-success btn-lg btn-block" href="/create">
  <span class="glyphicon glyphicon-play-circle"></span> &nbsp;
  Start Now
</a>

<div id="spacer" style="width: 100%; height: 50px;"></div>
<br />

