/* set a max-width for horizontal fluid layout and make it centered */
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  max-width: 940px; /* or 950px */
}

.hidden-input {
  display: none;
  margin-bottom: 20px;
}
.first-input{
  margin-bottom: 20px;
}

.pieLabel {
  background-color: #FFF;
}

.fb-button {
  margin-top: -6px;
  margin-left: 11px;
}

.human-hidden {
  display: none;
}
